<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title><%= post.title %></title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <h1><%= post.title %></h1>
    <p><%= post.content %></p>
    <a href="/">Tillbaka till inlägg</a>
</body>
</html>
